USE [master]
GO
/****** Object:  Database [Bookkeeper]    Script Date: 4/19/2023 12:10:58 AM ******/
CREATE DATABASE [Bookkeeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookkeeper_default_v1-0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bookkeeper_default_v1-0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookkeeper_default_v1-0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Bookkeeper_default_v1-0_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookkeeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookkeeper]
GO
/****** Object:  User [user]    Script Date: 4/19/2023 12:10:59 AM ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[SYS_USR_ROLELIST]    Script Date: 4/19/2023 12:10:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR_ROLELIST](
	[ROLEID] [int] NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[PERMISSION] [nvarchar](255) NULL,
 CONSTRAINT [PK_SYS_USR_ROLELIST] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USR_USERACTIVITY]    Script Date: 4/19/2023 12:10:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR_USERACTIVITY](
	[USERID] [int] NOT NULL,
	[MACHINEID] [nvarchar](50) NOT NULL,
	[LOGINTIME] [datetime] NULL,
	[LOGOUTTIME] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USR_USERROLES]    Script Date: 4/19/2023 12:10:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR_USERROLES](
	[USERID] [int] NOT NULL,
	[ROLEID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USR_USERS]    Script Date: 4/19/2023 12:10:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR_USERS](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[DISPLAYNAME] [nvarchar](255) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
 CONSTRAINT [PK_SYS_USERS] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USR_USERSETTINGS]    Script Date: 4/19/2023 12:10:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USR_USERSETTINGS](
	[USERID] [int] NOT NULL,
	[SYSFIELD] [nvarchar](50) NOT NULL,
	[SYSVALUE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYS_USR_USERS] ON 

INSERT [dbo].[SYS_USR_USERS] ([USERID], [NAME], [PASSWORD], [DISPLAYNAME], [EMAIL]) VALUES (3, N'admin', N'jGl25bVBBBW96Qi9Te4V37Fnqchz/Eu4qB9vKrRIqRg=', N'admin', NULL)
INSERT [dbo].[SYS_USR_USERS] ([USERID], [NAME], [PASSWORD], [DISPLAYNAME], [EMAIL]) VALUES (4, N'test', N'n4bQgYhMfWWaL+qgxVrQFaO/TxsrC4Is0V1sFbDwCgg=', N'test', NULL)
SET IDENTITY_INSERT [dbo].[SYS_USR_USERS] OFF
GO
USE [master]
GO
